<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bumbums.puzzlepiece">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_new_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">


        <activity android:name=".ui.Splash"
            android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>
        <activity
            android:name=".ui.FriendDetailActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateAlwaysHidden"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bumbums.puzzlepiece.ui.MainActivity" />
            >
        </activity>

        <activity
            android:name=".ui.EditFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name=".ui.ReviewActivity"
            android:screenOrientation="portrait" />



        <activity
            android:name=".ui.SettingActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bumbums.puzzlepiece.ui.MainActivity" />
            >
        </activity>


        <receiver android:name=".receiver.IncomingCallBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service android:name=".task.CallingService" >

        </service>

        <activity
            android:name=".ui.CallingDialog"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.OSSPIPPActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>